{% extends 'base.html' %}
{% block title %}
Add Smart Device
{% endblock title %}



{% block body %}
<h3 class="text-center"><span>Add Smart Devices</span> </h3>
  
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}


</div>
<br>
{% endfor %}
{% endif %}
{% endwith %}


  <div class="container">

    <div class="row">
    
    <div class="col-md-4"></div>
    <div class="col-md-4">
    
    <form action="/adddevice" method="post">
    <div class="form-group">
    
      <select class="form-control" id="Location_unit_number" name="Location_unit_number"  required>
        <option selected>Location_unit_number</option>
        {% for row in num %}
            <option value="{{row.Unit_Number}}">{{row.Unit_Number}}</option>
        {% endfor %}
      </select>
    </div>
    <br>
    <div class="form-group">                          
      <select class="form-control" id="Type" name="Type" required>
              <option selected>Type</option>
              {% for d in type1 %}
                  <option value="{{d.name}}">{{d.name}}</option>
              {% endfor %}
            </select>
       </div>
      <br>
      <div class="form-group">
        <label>Select Model</label>
        <select name="Product" id="Product" class="form-control"></select>
      </div>
      
      <br>
    
    <div class="form-group">
    <label for="Color">Color</label>
    <input type="text" class="form-control" name="Color" id="Color" required></textarea>
    </div>
    <br>
    
    <div class="form-group">
    
    <label for="price">Price</label>
    <input type="number" class="form-control" name="price" id="price" required>
    </div>
    <br>
    
      <button type="submit" class="btn btn-success  btn-block">Add Product</button>
    </form>
    <br>
    <br>
    
    </div>
    
    <div class="col-md-4"></div>
    
    </div></div>

    <script>
    var type_select = document.getElementById("Type");
        var p_select = document.getElementById("Product");

        type_select.onchange = function()  {
             
            type = type_select.value;
            
            fetch('/prod/' + type).then(function(response) {
              response.json().then(function(data) {
                var optionHTML = '';
              for (var model of data.Models) {
                optionHTML += '<option value="' + model.fid + '">' + model.Product_Models + '</option>';
                }
                
                p_select.innerHTML = optionHTML;
                 
})

});
        }
        </script>





{% endblock body %}
